@import "https://fonts.googleapis.com/css?family=Raleway:400,600";
body {
  font-family: sans-serif;
  color: #141414;
  background: #fafafa;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.furniture {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem 2rem; }

.demo {
  padding: 1rem;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 20rem; }
  .demo .bg {
    height: 100vh;
    width: 100%; }
  .demo .main_header {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    -ms-flex-align: center;
        align-items: center; }
  .demo nav {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem; }
    .demo nav a {
      display: inline-block;
      padding: 0 0.75rem; }
      .demo nav a + a {
        border-left: 1px solid blue; }
  .demo section {
    background-color: #993333;
    color: #fff;
    padding: 3rem 3rem 5rem;
    position: relative; }
    .demo section:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 4rem;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#993333;' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .demo section:nth-child(2) {
      background-color: #ac3939; }
      .demo section:nth-child(2):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#ac3939;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(3) {
      background-color: #bf4040; }
      .demo section:nth-child(3):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#bf4040;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(4) {
      background-color: #c65353; }
      .demo section:nth-child(4):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#c65353;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(5) {
      background-color: #cc6666; }
      .demo section:nth-child(5):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#cc6666;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(6) {
      background-color: #d27979; }
      .demo section:nth-child(6):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#d27979;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(7) {
      background-color: #d98c8c; }
      .demo section:nth-child(7):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#d98c8c;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(8) {
      background-color: #df9f9f; }
      .demo section:nth-child(8):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#df9f9f;' /%3E%3C/svg%3E"); }
    .demo section:nth-child(9) {
      background-color: #e6b3b3; }
      .demo section:nth-child(9):before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:#e6b3b3;' /%3E%3C/svg%3E"); }
    .demo section p {
      margin-top: 0; }
  .demo * {
    font-family: "Raleway","Helvetica","Arial";
    font-weight: 400; }
  .demo h1, .demo h2, .demo h3, .demo h4, .demo h5, .demo h6, .demo strong {
    font-weight: 600; }
