$color: #993333;

$svg: "<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" width=\"60px\" height=\"60px\" viewBox=\"0 0 60 60\"><polygon fill=\"color\" points=\"0,60 60,0 60,60 \"/></svg>";


$svgbg: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='60' viewBox='0 0 60 60' preserveAspectRatio='none'%3E%3Cpolygon points='0,60 60,0 60,60' style='fill:color;' /%3E%3C/svg%3E");